kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: grafana 
  namespace: monitoring
  annotations:
    volume.beta.kubernetes.io/storage-class: "cephfs-promethues"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
